@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *),&:is(.oled *));
@custom-variant mobile (@media (pointer: coarse));
@custom-variant @xshort (@container (min-height: 5rem));
@custom-variant @short (@container (min-height: 10rem));
@custom-variant @tall (@container (min-height: 20rem));

@layer utilities {
  .\@container-size {
    container-type: size;
  }
}

@theme {
  --breakpoint-2xs: 25rem;
  --breakpoint-xs: 30rem;
}

:root {
  --ui-root: oklch(100% 0.01 150);
  --ui-root-foreground: oklch(10% 0.05 150);
  --ui-root-primary: oklch(60% 0.18 150);
}

.dark {
  --ui-root: oklch(5% 0.05 150);
  --ui-root-foreground: oklch(100% 0.03 150);
  --ui-root-primary: oklch(70% 0.3 150);
}

.oled {
  --ui-root: oklch(0% 0.001 150);
  --ui-root-foreground: oklch(100% 0.03 150);
  --ui-root-primary: oklch(65% 0.1 150);
}

:root {
  --ui-background: oklch(from var(--ui-root) l c h);
  --ui-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-card: oklch(from var(--ui-root) l c h);
  --ui-card-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-popover: oklch(from var(--ui-root) l c h);
  --ui-popover-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-primary: oklch(from var(--ui-root-primary) l c h);
  --ui-primary-foreground: oklch(from var(--ui-root) calc(l - 0.016) c h);
  --ui-secondary: oklch(
    from var(--ui-root-primary) calc(l + 0.35) calc(c * 0.1) h
  );
  --ui-secondary-foreground: oklch(
    from var(--ui-root-primary) calc(l - 0.2) calc(c * 1.2) h
  );
  --ui-muted: oklch(from var(--ui-root-primary) calc(l + 0.45) calc(c * 0.2) h);
  --ui-muted-foreground: oklch(
    from var(--ui-root-primary) calc(l - 0.1) calc(c * 0.8) h
  );
  --ui-accent: oklch(from var(--ui-root-primary) calc(l + 0.4) calc(c * 0.1) h);
  --ui-accent-foreground: oklch(
    from var(--ui-root-primary) calc(l - 0.2) calc(c * 1.2) h
  );
  --ui-destructive: oklch(0.577 0.245 27.325);
  --ui-destructive-foreground: oklch(0.577 0.245 27.325);
  --ui-border: oklch(from var(--ui-root) calc(l - 0.071) calc(c + 0.013) h);
  --ui-input: oklch(from var(--ui-root) calc(l - 0.071) calc(c + 0.013) h);
  --ui-ring: oklch(from var(--ui-root) calc(l - 0.131) calc(c + 0.022) h);
  --ui-chart-1: oklch(0.646 0.222 41.116);
  --ui-chart-2: oklch(0.6 0.118 184.704);
  --ui-chart-3: oklch(0.398 0.07 227.392);
  --ui-chart-4: oklch(0.828 0.189 84.429);
  --ui-chart-5: oklch(0.769 0.188 70.08);
  --radius: 1.5rem;
  --radius-xs: 0.5rem;
  --ui-sidebar: oklch(from var(--ui-root) calc(l - 0.016) calc(c + 0.003) h);
  --ui-sidebar-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-sidebar-primary: oklch(
    from var(--ui-root-foreground) calc(l + 0.079) c h
  );
  --ui-sidebar-primary-foreground: oklch(
    from var(--ui-root) calc(l - 0.016) calc(c + 0.003) h
  );
  --ui-sidebar-accent: oklch(
    from var(--ui-root) calc(l - 0.032) calc(c + 0.007) h
  );
  --ui-sidebar-accent-foreground: oklch(
    from var(--ui-root-foreground) calc(l + 0.079) c h
  );
  --ui-sidebar-border: oklch(
    from var(--ui-root) calc(l - 0.071) calc(c + 0.013) h
  );
  --ui-sidebar-ring: oklch(
    from var(--ui-root) calc(l - 0.131) calc(c + 0.022) h
  );
}

.dark,
.oled {
  --ui-background: oklch(from var(--ui-root) l c h);
  --ui-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-card: oklch(from var(--ui-root) l c h);
  --ui-card-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-popover: oklch(from var(--ui-root) l c h);
  --ui-popover-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-primary: oklch(from var(--ui-root-primary) l c h);
  --ui-primary-foreground: oklch(from var(--ui-root) calc(l + 0.079) c h);
  --ui-secondary: oklch(
    from var(--ui-root-primary) calc(l - 0.5) calc(c * 0.3) h
  );
  --ui-secondary-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-muted: oklch(from var(--ui-root-primary) calc(l - 0.25) calc(c * 0.2) h);
  --ui-muted-foreground: oklch(
    from var(--ui-root-foreground) calc(l - 0.28) calc(c + 0.037) h
  );
  --ui-accent: oklch(from var(--ui-root-primary) calc(l - 0.4) calc(c * 0.4) h);
  --ui-accent-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-destructive: oklch(0.396 0.141 25.723);
  --ui-destructive-foreground: oklch(0.637 0.237 25.331);
  --ui-border: oklch(from var(--ui-root-primary) calc(l - 0.5) calc(c * 0.1) h);
  --ui-input: oklch(from var(--ui-root-primary) calc(l - 0.4) calc(c * 0.1) h);
  --ui-ring: oklch(from var(--ui-root-primary) calc(l - 0.6) calc(c * 0.8) h);
  --ui-chart-1: oklch(0.488 0.243 264.376);
  --ui-chart-2: oklch(0.696 0.17 162.48);
  --ui-chart-3: oklch(0.769 0.188 70.08);
  --ui-chart-4: oklch(0.627 0.265 303.9);
  --ui-chart-5: oklch(0.645 0.246 16.439);
  --ui-sidebar: oklch(from var(--ui-root) calc(l + 0.079) c h);
  --ui-sidebar-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-sidebar-primary: oklch(from var(--ui-root-primary) l c h);
  --ui-sidebar-primary-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-sidebar-accent: oklch(
    from var(--ui-root-primary) calc(l - 0.5) calc(c * 0.2) h
  );
  --ui-sidebar-accent-foreground: oklch(from var(--ui-root-foreground) l c h);
  --ui-sidebar-border: oklch(
    from var(--ui-root-primary) calc(l - 0.35) calc(c * 0.1) h
  );
  --ui-sidebar-ring: oklch(
    from var(--ui-root-primary) calc(l - 0.1) calc(c * 0.8) h
  );
}

@source inline('{bg,color}-{blue,green,lime,yellow,amber,red,grey}-{500}');
@source inline('{bg,color}-{blue,green,lime,yellow,amber,red,grey}-{500}');
@source inline('{bg}-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-100');
@source inline('hover:{bg}-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-200');
@source inline('{color}-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-500');
@source inline('dark:{bg}-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-900');
@source inline('dark:hover:{bg}-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-800');
@theme inline {
  --color-background: var(--ui-background);
  --color-foreground: var(--ui-foreground);
  --color-card: var(--ui-card);
  --color-card-foreground: var(--ui-card-foreground);
  --color-popover: var(--ui-popover);
  --color-popover-foreground: var(--ui-popover-foreground);
  --color-primary: var(--ui-primary);
  --color-primary-foreground: var(--ui-primary-foreground);
  --color-secondary: var(--ui-secondary);
  --color-secondary-foreground: var(--ui-secondary-foreground);
  --color-muted: var(--ui-muted);
  --color-muted-foreground: var(--ui-muted-foreground);
  --color-accent: var(--ui-accent);
  --color-accent-foreground: var(--ui-accent-foreground);
  --color-destructive: var(--ui-destructive);
  --color-destructive-foreground: var(--ui-destructive-foreground);
  --color-border: var(--ui-border);
  --color-input: var(--ui-input);
  --color-ring: var(--ui-ring);
  --color-chart-1: var(--ui-chart-1);
  --color-chart-2: var(--ui-chart-2);
  --color-chart-3: var(--ui-chart-3);
  --color-chart-4: var(--ui-chart-4);
  --color-chart-5: var(--ui-chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--ui-sidebar);
  --color-sidebar-foreground: var(--ui-sidebar-foreground);
  --color-sidebar-primary: var(--ui-sidebar-primary);
  --color-sidebar-primary-foreground: var(--ui-sidebar-primary-foreground);
  --color-sidebar-accent: var(--ui-sidebar-accent);
  --color-sidebar-accent-foreground: var(--ui-sidebar-accent-foreground);
  --color-sidebar-border: var(--ui-sidebar-border);
  --color-sidebar-ring: var(--ui-sidebar-ring);

  --duration: 0.2s;

  --animate-shiny-text: shiny-text 8s infinite;
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  --animate-accordion-up: accordion-up var(--duration) ease-out forwards;
  --animate-accordion-down: accordion-down var(--duration) ease-out forwards;
  --animate-swap: swap 20s ease-out forwards infinite;
  --animate-swap-indicator: swap-indicator 20s ease-out forwards infinite;
  --animate-gradient-shift: gradient-shift 2s ease-in-out infinite alternate;

  @keyframes gradient-shift {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  @keyframes accordion-up {
    from {
      max-height: var(--radix-accordion-content-height);
      /* max-height: 1000px; */
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }

  @keyframes accordion-down {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      /* max-height: 1000px; */
      max-height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes swap {
    0% {
      opacity: 0;
      scale: 0.95;
    }
    0%,
    1% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    2%,
    49% {
      opacity: 1;
      transform: translateY(0);
      scale: 1;
    }
    50%,
    51% {
      opacity: 0;
      transform: translateY(1rem);
    }
    50%,
    100% {
      opacity: 0;
      scale: 0.95;
    }
  }

  @keyframes swap-indicator {
    0% {
      top: 1rem;
    }
    1%,
    49.5% {
      top: 0;
    }
    50.5%,
    100% {
      top: 1rem;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground dark:scheme-dark;
  }
}

@layer components {
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .h2 {
    @apply mt-6 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  .h3 {
    @apply mt-4 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .p {
    @apply /*[&:not(:first-child)]:mt-6*/ text-base leading-7;
  }

  .quote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .list {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .snippet {
    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  .lead {
    @apply text-muted-foreground text-xl;
  }

  .table {
    @apply [&_tr_th]:bg-secondary w-full border-collapse overflow-hidden rounded-lg [&_td]:border [&_td]:px-4 [&_td]:py-2 [&_td]:text-start [&_td[align=center]]:text-center [&_td[align=right]]:text-right [&_th]:border [&_th]:px-4 [&_th]:py-2 [&_th]:text-start [&_th]:font-bold [&_th[align=center]]:text-center [&_th[align=right]]:text-right [&_tr]:m-0 [&_tr]:border-t [&_tr]:p-0;
  }

  .stack {
    @apply grid grid-cols-1 grid-rows-1 [&>*]:col-start-1 [&>*]:row-start-1;
  }

  .ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }

  .ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .li {
    @apply mt-2;
  }

  .render-fancy {
    /* @apply [&_h1]:h1 [&_h2]:h2 [&_h3]:h3 [&_h4]:h4 [&_blockquote]:quote focus:border-primary/50 [&_:is(ul,li)]:ml-8 [&_a]:underline [&_iframe]:max-w-full [&_mark]:rounded [&_mark]:box-decoration-clone [&_mark]:px-1 [&_mark]:py-0.5 [&_ol_li]:list-decimal [&_span[data-type="emoji"]]:inline-flex [&_span[data-type="emoji"]]:items-center dark:[&_span[data-type="emoji"]]:hue-rotate-180 dark:[&_span[data-type="emoji"]]:invert [&_span[data-type="emoji"]_img]:size-[1em] [&_ul_li]:list-disc; */
    @apply bg-background text-foreground focus:border-primary/50 rounded dark:bg-[#F7FAFF] dark:text-black dark:hue-rotate-180 dark:invert;
    & h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    }
    & h2 {
      @apply mt-6 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
    }
    & h3 {
      @apply mt-4 scroll-m-20 text-2xl font-semibold tracking-tight;
    }
    & h4 {
      @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }
    & p {
      @apply /*[&:not(:first-child)]:mt-6*/ text-base leading-7;
    }
    & a {
      @apply underline;
    }
    & blockquote {
      @apply mt-6 border-l-2 pl-6 italic;
    }
    & ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }
    & pre {
      @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }
    & .lead {
      @apply text-muted-foreground text-xl;
    }
    & table {
      @apply [&_tr_th]:bg-secondary w-full border-collapse overflow-hidden [&_td]:border [&_td]:border-[#E1E8F5] [&_td]:px-4 [&_td]:py-2 [&_td]:text-start [&_td[align=center]]:text-center [&_td[align=right]]:text-right [&_th]:border [&_th]:border-[#E1E8F5] [&_th]:px-4 [&_th]:py-2 [&_th]:text-start [&_th]:font-bold [&_th[align=center]]:text-center [&_th[align=right]]:text-right [&_tr]:m-0 [&_tr]:border-t [&_tr]:border-[#E1E8F5] [&_tr]:p-0;
    }
    & .stack {
      @apply grid grid-cols-1 grid-rows-1 [&>*]:col-start-1 [&>*]:row-start-1;
    }
    & ol {
      @apply my-6 ml-6 list-decimal [&>li]:mt-2;
    }
    & ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }
    & li {
      @apply mt-2;
    }
  }

  .render-white-content {
    @apply bg-background text-foreground rounded dark:bg-[#F7FAFF] dark:text-black dark:hue-rotate-180 dark:invert;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
  height: calc(100vh - env(safe-area-inset-bottom));
}

.scrollbar-both-edges {
  scrollbar-gutter: stable both-edges;
}

.scrollbar-stable {
  scrollbar-gutter: stable both-edges;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.scrollbar-auto {
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
}

.scrollbar-auto::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
}
